html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #111;
}

.main-content {
  max-width: 1366px;
  margin: 0 auto 30px auto;
}

nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 80px 15px 70px 45px;
  min-height: 106px;
  align-items: flex-start;
  /* background: #1a1a1a; */
}

nav h1, nav input {
  font-family: 'Nunito Sans', Arial, sans-serif;
  color: #888;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

nav h1 {
  text-align: center;
}

nav input {
  background: none;
  max-width: 520px;
  border: 3px solid #333;
  border-radius: 10px;
  padding-left: 10px;
  height: 30px;
  outline: none;
  color: #888;
  text-transform: lowercase;
  transition: 0.2s ease-in-out;
}

nav input:focus {
  border-color: #555;
  transition: 0.2s ease-in-out;
}

.station-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.station-container {
  width: 256px;
  height: 256px;
  overflow: visible;
  cursor: pointer;
}

.station-block {
  position: relative;
  z-index: 1;
  width: 236px;
  height: 236px;
  padding: 10px;
  background-color: #888;
  background-size: cover;
  background-position: center; 
  overflow: hidden;
  transition: z-index 1ms linear 0.15s, all 0.2s ease-out;
  transform-origin: center center;
}

.station-block:hover {
  z-index: 2;
  transform: scale(1.2);
  box-shadow: 0 0 50px rgba(0,0,0,0.5);
  border-radius: 10px;
  transition: z-index 1ms linear 1ms, all 0.2s ease-out;
}

/* 4xn grid */
@media screen and (max-width: 1296px) {
  .station-container {
    height: 0;
    padding-bottom: 25%;
    width: 25%;
  }

  .station-block {
    height: 0;
    padding-bottom: calc(100% - 10px);
    width: calc(100% - 20px);
  }
}

/* 3xn grid */
@media screen and (max-width: 1000px) {
  .station-container {
    height: 0;
    padding-bottom: 33.33%;
    width: 33.33%;
  }
}

/* 2xn grid */
@media screen and (max-width: 800px) {
  .station-container {
    height: 0;
    padding-bottom: 50%;
    width: 50%;
  }
}

@media screen and (max-width: 511px) {
  nav {
    padding-left: 0;
    padding-right: 0;
    align-items: center;
  }

  .station-container {
    width: 100vw;
    height: 30vh;
    padding-bottom: 0;
  }

  .station-block {
    width: calc(100vw - 20px);
    height: calc(30vh - 10px);
    padding-bottom: 0;
    transition: none;
  }

  .station-block:hover {
    transform: none;
    box-shadow: none;
    border-radius: 0;
    transition: none;
  }
}

.station-block h4 {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 0.8rem;
}

.station-block h3 {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 1.95rem;
  opacity: 0.9;
  text-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.station-block.smaller h3 {
  font-size: 1.77rem;
}

.video-modal {
  align-items: center;
  position: fixed;
  left: 10vw;
  top: 5vh;
  z-index: 10;
  width: 80vw;
  height: calc(80vw * 0.59);
  background-color: none;
  box-shadow: 0 0 80px rgba(255,255,255,0.3);
}

.darkened-background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  background-color: rgba(0,0,0,0.8);
  transition: 400ms ease-out all;
}

.darkened-background.ng-show {
  opacity: 1;
}

.darkened-background.ng-hide {
  opacity: 0;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.show-video {
  transition: 400ms ease-out all;
}

.show-video.ng-show {
  transform: translateY(0);
  opacity: 1;
}

.show-video.ng-hide {
  transform: translateY(300px);
  opacity: 0;
}

.copyright,
.copyright a {
  font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
  color: #888;
}

.copyright {
  padding-top: 30px;
  text-align: center;
}