html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #111;
}

.main-content {
  max-width: 1280px;
  margin: 0 auto 30px auto;
}

.title-bar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 80px 15px 70px 0;
  min-height: 106px;
  align-items: flex-start;
  animation: fade-in 0.3s ease-out;
}

@keyframes fade-in {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.title-bar h1, .title-bar input {
  font-family: 'Nunito Sans', Arial, sans-serif;
  color: rgba(255,255,255,.7);
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.title-bar h1 {
  text-align: left;
}

.title-bar input {
  background: none;
  max-width: 520px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 10px;
  padding-left: 10px;
  height: 30px;
  outline: none;
  color: rgba(255,255,255,.7);
  text-transform: lowercase;
  transition: 0.2s ease-in-out;
}

.title-bar input:focus {
  border-color: rgba(255,255,255,.7);
  transition: 0.2s ease-in-out;
}

.station-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  opacity: 0;
  transition: 0.3s ease-out;
  transform: translateY(20px);
}

.station-grid.loaded {
  transform: translateY(0);
  opacity: 1;
}

.heavy {
  opacity: 0;
  transition: 0.3s ease-out;
  transform: translateY(10px);
}

.heavy.loaded {
  transform: translateY(0);
  opacity: 1;
}

.station-container {
  width: 256px;
  height: 256px;
  overflow: visible;
  cursor: pointer;
}

.station-container * {
  text-decoration: none;
}

.station-block {
  position: relative;
  z-index: 1;
  width: 236px;
  height: 236px;
  padding: 10px;
  background-color: #888;
  background-size: cover;
  background-position: center; 
  overflow: hidden;
  transition: z-index 1ms linear 0.15s, all 0.2s ease-out;
  transform-origin: center center;
}

.station-block:hover {
  z-index: 2;
  transform: scale(1.2);
  box-shadow: 0 0 50px rgba(0,0,0,0.5);
  border-radius: 10px;
  transition: z-index 1ms linear 1ms, all 0.2s ease-out;
}

.station-block h4 {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 0.8rem;
  text-shadow: 0 0 5px rgba(0,0,0,.7);
}

.station-block h3 {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 1.95rem;
  text-shadow: 0 0 20px rgba(0,0,0,.7);
}

.station-block.smaller h3 {
  font-size: 1.77rem;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	/* padding-top: 30px; */
	height: 0;
	overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.station-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: -1;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  opacity: .3;
  background-size: cover;
  background-position: center center;
  transform: scale(1.1);
  transform-origin: center center;
}

.copyright,
.copyright a {
  font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
  color: rgba(255,255,255,.5);
}

.copyright {
  padding-top: 30px;
  text-align: left;
}

.loading-prompt {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
  color: white;
  font-size: 2rem;
  opacity: .2;
}

.loading-prompt.loaded {
  display: none;
}

/* 4xn grid */
@media screen and (max-width: 1296px) {
  .station-container {
    height: 0;
    padding-bottom: 25%;
    width: 25%;
  }

  .station-block {
    height: 0;
    padding-bottom: calc(100% - 10px);
    width: calc(100% - 20px);
  }

  .title-bar, .copyright {
    padding-left: 45px;
  }
}

/* 3xn grid */
@media screen and (max-width: 1000px) {
  .station-container {
    height: 0;
    padding-bottom: 33.33%;
    width: 33.33%;
  }
}

/* 2xn grid */
@media screen and (max-width: 800px) {
  .station-container {
    height: 0;
    padding-bottom: 50%;
    width: 50%;
  }
}

@media screen and (max-width: 511px) {
  .title-bar, .copyright {
    padding-left: 10px;
    padding-right: 0;
    align-items: left;
  }

  .title-bar h1, .title-bar input {
    font-size: 1.7rem;
  }

  .title-bar h1 {
    padding: 0;
    margin: 0;
    height: 10px;
  }

  .title-bar input {
    width: 90%;
    height: 0;
    transform: translateY(-10px);
  }

  .station-container {
    width: 100vw;
    height: 30vh;
    padding-bottom: 0;
  }

  .station-block {
    width: calc(100vw - 20px);
    height: calc(30vh - 10px);
    padding-bottom: 0;
    transition: none;
  }

  .station-block:hover {
    transform: none;
    box-shadow: none;
    border-radius: 0;
    transition: none;
  }

  .copyright {
    text-align: left;
  }
}