.canary-wharf {
  background-image: url(img/canary-wharf.png);
}

.tottenham-court-road {
  background-image: url(img/tottenham-court-road.png);
}

.pimlico {
  background-image: url(img/pimlico.png);
}

.edgware-road {
  background-image: url(img/edgware-road.png);
}

.euston-square {
  background-image: url(img/euston-square.png);
}

.arsenal {
  background-image: url(img/arsenal.png);
}